{% load i18n %}
{% load image_tags %}
{% load currency_filters %}
{% load purchase_info_tags %}
{% load widget_tweaks static promo_tags %}

<div 
    class="basket-items gift-product" 
    data-line-id="{{ line.id }}"
    data-product-pk="{{ product.pk }}"
    data-promo = "{{ promo }}"
    style ="
    {% active_promos as promos %}
    {% if promos %}
        {% for promo in promos %}
            {% promo_product_list promo as gifts %}
            {% if gifts and gifts|length > 1 %}
                display:none;
            {% endif %}
        {% endfor %}
    {% endif %}
    "
    >
        <div class="row">
            <div class="col-md-2">
                {{ form.id }}
                {% if product.primary_image %}
                    <a href="">
                        <img src="{% if product.primary_image and product.primary_image.original and product.primary_image.original.url %}{{ product.primary_image.original.url }}{% else %}{% static 'oscar/img/image_not_found.jpg' %}{% endif %}" 
                                alt="{{ product.get_title }}" class="img-thumbnail w-auto mx-auto my-0">
                    </a>
                {% endif %}
            </div>
            <div class="col-md-4">
                <h3><a href="">{{ line.description }}</a></h3>
            </div>
            <div class="col-md-3">
                
                    
            </div>
            <div class="col-md-1">
                    <p class="price_color text-right">
                        <span class="price-title d-md-none">{% trans "Price" %}:</span>
                            {{0|currency:line.price_currency }}
                    </p>
            </div>
            <div class="col-md-2">
                    <p class="price_color text-right">
                        <span class="price-title d-md-none">{% trans "Total" %}:</span>
                        <span data-line-price="{{ line.id }}">
                        {{0|currency:line.price_currency }}
                        </span>
                    </p>
            </div>
        </div>
    </div>