{% load image_tags %}

<div class="row">
    <div class="col-sm-2">
        <div class="image_container w-100">
            <div class="image_container w-100">
                <a href="{{ product.get_absolute_url }}">
                    <img src="{% if product.primary_image and product.primary_image.original and product.primary_image.original.url %}{{ product.primary_image.original.url }}{% else %}{% static 'oscar/img/image_not_found.jpg' %}{% endif %}" 
                         alt="{{ product.get_title }}" class="img-thumbnail w-auto mx-auto my-0">
                </a>
            </div>
                {% endwith %}
            {% endif %}
        </div>
    </div>
    <div class="col-sm-10">
        <h2><a href="{{ product.get_absolute_url }}">{{ product.get_title }}</a></h2>
        {% include "oscar/catalogue/partials/stock_record.html" %}
        {% include "oscar/catalogue/reviews/partials/review_stars.html" %}
    </div>
</div>

<hr>
